.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 4px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://www.goodwp.com/images/201401/goodwp.com_30605.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #FFFFFF;
  font-size: 52px;  
  font-family: 'Impact', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #fff;
}

.learn-more {
  background-color: #FFFFFF;
}

.learn-more h3 {
  font-family: 'Impact', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
}

.learn-more a {
  color: #D8D8D8;
}

.neighborhood-guides{
    background-color: #B40431;
    border-bottom: 2px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: ##B40431;
    font-size: 24px;

}

.neighborhood-guides p{
     font-size: 20px;
    margin-bottom: 13px;    
}
