html{ 
   text-align: center;
   item-align: center;
   
   }
   body{
      background-image: url(http://covuccia.smugmug.com/M/i-jZQMQP5/0/X3/BACK1-X3.png);
      background-size: cover;
      background-repeat: no-repeat;
      color: #FFFDE7;
      font-family: 'Maven Pro', sans-serif;
      font-size: 25px;
         
    }
   
    h1 {
      color: white;
      font-family:  'Dosis', sans-serif;
      font-size: 90px;
      text-align: center;
      
      
    } 
      
   
      P {
        color: #FFFDE7;
      font-family: 'Maven Pro', sans-serif;
        text-align: center;
         font-size: 25px;
         
      }
   div{ 
      -webkit-align-item: center;
   }
   
   nav {
  position: absolute center;
  }
  
 /* unvisited link */
nav a{
    position: center;
   
}
nav a:link, a:link{
    color: #FFFDE7;
    position: center;
}

/* visited link */
nav a:visited, a:visited{
    color: #FFFDE7;
    position: center;
}

/* mouse over link */
nav a:hover, a:hover{
    color: #FFFDE7;
    position: center;
}

/* selected link */
nav a:active, a:active{
    color: white ;
    position: center;
} 

footer, hr,img {
   position: center;
}

section a {
  background: -webkit-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* W3C */
}

table {
   position: center;
   width: 70%;
   height: 100px;
}

